button {background-color: aqua;
color: black;
width: 90%;
margin: 5px;
border-color: black;
}



button {background-color: aqua;
    color: black;
    width: 90%;
    margin: 5px;
    border-color: black;
    }
